# ========================
# Go
# ========================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
go.sum
vendor/

# ========================
# Environment files
# ========================
.env
.env.local
.env.*

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Build / Temp
# ========================
tmp/
dist/
build/

# ========================
# Database local
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# Node (si un jour tu ajoutes)
# ========================
node_modules/

# ========================
# Scalingo local config
# ========================
.scalingo/

# ========================
# IDE / JetBrains
# ========================
.idea/
