

.content{
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 40px 48px;
}


.profile-card{
    position: absolute;
    top: 200px;
    left: 300px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-pseudo p{
    margin: 0;
    font-size: clamp(55px, 5vw, 78px);
    font-weight: 800;
    color: #FECA74;
    line-height: 1;
    text-shadow: 0 0 10px rgba(200,170,110,.25);
}

.streak-badge{
    position: relative;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}

.flame{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.streak-count{
    position: absolute;
    top: 60px;
    left: 49%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #162841;
}

.more-info{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 28px;
}

.more-info p{
    margin: 0;
    font-size: clamp(15px, 1.2vw, 20px);
    font-weight: 700;
    color: #c8aa6e;
}

@media (max-width: 900px){
    .profile-card{
        left: 40px;
        top: 120px;
        max-width: 90%;
    }

    .profile-top{
        flex-wrap: wrap;
    }

    .more-info{
        flex-direction: column;
        gap: 10px;
    }
}

.logout {
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
}


.logout button {
  width: 100%;
  max-width: 200px;  
  
  height: 50px;

  background: linear-gradient(145deg, #0A1428, #1E2D4D);
  color: #F0E6D2;

  border: 2px solid #C8AA6E;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;
  font-family: 'Beaufort for LOL', serif;

  cursor: pointer;

  box-shadow:
    inset 0 0 8px rgba(255,255,255,0.05),
    0 0 10px rgba(200,170,110,0.25);

  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}

 
.logout button:hover {
  background: linear-gradient(145deg, #2a0b0f, #7a1a1f);

  border: 2px solid #ff4d4d;
  color: #ffffff;

  box-shadow:
    0 0 12px rgba(255, 60, 60, 0.5),
    0 0 25px rgba(255, 0, 0, 0.15);

  transform: translateY(-2px);
}