<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>UHC LoLdle</title>
  <link rel="stylesheet" href="../static/css/ChampPage.css" />
</head>

<body>
<div class="background-zone">
  
    <aside class="sidebar">
      <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />

      <div class="horizontal-line"></div>

      <nav>
        <a href="/logged">
          <img src="../static/images/HomeIcon.jpg" alt="" />
          <span>Accueil</span>
        </a>

        <a href="/Profil">
          <img src="../static/images/ProfileIcon.jpg" alt="" />
          <span>Profil</span>
        </a>

        <a href="/Champs">
          <img src="../static/images/ChampLogo.jpg" alt="" />
          <span>Champion</span>
        </a>

        <a href="/Items">
          <img src="../static/images/ItemLogo.jpg" alt="" />
          <span>Items</span>
        </a>

        <a href="/Search">
          <img src="../static/images/LoupeIcon.jpg" alt="" />
          <span>Recherche</span>
        </a>

        <a href="/News">
          <img src="../static/images/NewsIcon.jpg" alt="" />
          <span>À propos</span>
        </a>

        <a href="/List">
          <img src="../static/images/ListIcon.jpg" alt="" />
          <span>Tier list</span>
        </a>
      </nav>

      <div class="vertical-line"></div>
    </aside>

    <main class="content">
      <div class="champPrint">
        
      </div>
      <input type="text" id="champInput" placeholder="Choisir un champion..." autocomplete="off">
      <div id="champList"></div>
    </main>
    

  
    <script>
      const champions = {{ .ChampionsJSON }};
      console.log(champions);

      let guessed = []

      const input = document.getElementById("champInput");
      const list = document.getElementById("champList");

      function renderList(array) {
        list.innerHTML = "";

        for (let i = 0; i < array.length; i++) {
            const item = document.createElement("div");

            if (!guessed.includes(array[i])) {
              item.textContent = array[i];
              list.appendChild(item);

              item.addEventListener("click",function() {
                list.innerHTML = ""
                input.value = this.textContent
                guessed.push(input.value)   
              })
            }  
        }
        
      }

      input.addEventListener("focus", function() {
      console.log("Input activé");
      renderList(champions);
      });

      input.addEventListener("input", function() {
      const value = input.value.toLowerCase();

      let filtered = [];

      for (let i = 0; i < champions.length; i++) {
          if (champions[i].toLowerCase().startsWith(value)) {
              filtered.push(champions[i]);
          }
      }

      renderList(filtered);
      });

      
          
    </script>

</div>
</body>
</html>
