<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>UHC LoLdle</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <div class="background-zone">
  
    <aside class="sidebar">
      <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />
      <h1>Bonjour {{.Pseudo}}</h1>
      <div class="horizontal-line"></div>

      <nav>
        <a href="logged">
          <img src="../static/images/HomeIcon.jpg" alt="" />
          <span>Accueil</span>
        </a>

        <a href="Profil">
          <img src="../static/images/ProfileIcon.jpg" alt="" />
          <span>Profil</span>
        </a>

        <a href="Champs">
          <img src="../static/images/ChampLogo.jpg" alt="" />
          <span>Champion</span>
        </a>

        <a href="Items">
          <img src="../static/images/ItemLogo.jpg" alt="" />
          <span>Items</span>
        </a>

        <a href="Search">
          <img src="../static/images/LoupeIcon.jpg" alt="" />
          <span>Recherche</span>
        </a>

        <a href="News">
          <img src="../static/images/NewsIcon.jpg" alt="" />
          <span>À propos</span>
        </a>

        <a href="List">
          <img src="../static/images/ListIcon.jpg" alt="" />
          <span>Tier list</span>
        </a>
      </nav>

      <div class="vertical-line"></div>
    </aside>

    <main class="content">
      <h1>UHC LoLdle</h1>
    </main>

  </div>
</body>
</html>
