<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>UHC LoLdle</title>
  <link rel="stylesheet" href="../static/css/ItemsPage.css" />
</head>

<body>
<div class="background-zone">
  
    <aside class="sidebar">
      <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />

      <div class="horizontal-line"></div>

      <nav>
        <a href="/logged">
          <img src="../static/images/HomeIcon.jpg" alt="" />
          <span>Accueil</span>
        </a>

        <a href="/Profil">
          <img src="../static/images/ProfileIcon.jpg" alt="" />
          <span>Profil</span>
        </a>

        <a href="/Champs">
          <img src="../static/images/ChampLogo.jpg" alt="" />
          <span>Champion</span>
        </a>

        <a href="/Items">
          <img src="../static/images/ItemLogo.jpg" alt="" />
          <span>Items</span>
        </a>

        <a href="/Spells">
          <img src="../static/images/SpellIcon.png" alt="" />
          <span>Spell</span>
        </a>
      </nav>

      <div class="vertical-line"></div>
    </aside>

    <main class="content">
      <div class="page-brand">
        <span class="brand-small">UHC</span>
        <span class="brand-big">LoLdle</span>
      </div>

      <section class="game-wrapper">
        <button id="toggleHintsBtn">Désactiver les indices</button>
        <div class="intro-box">
          <p class="page-title">Devinez quel item de League of legends a ces statistiques ! </p><br><br>
          <div id="stats" class="intro-text"></div> 
        </div>
    
          

        <div class="hint-zone">
          <div id="first-hint-box" class="hint-box">
              <p id="first-hint" class="hint-text"></p>
              <div class="price">
                <img src="/static/images/stats/Price.png" alt="Price icon" id="price-icon">
                <p id="price-hint" class="price-hint"></p>
              </div>
          </div>

          <div id="second-hint-box" class="hint-box">
              <p id="second-hint" class="hint-text"></p>
              <p class="price-hint">Composants de l'item :</p>
              <div id="components-hint">
                  
              </div>
          </div>
           
        </div>

        <div class="search-zone">
          <p id="triesDisplay" class="tries-count"></p>
          <div class="search-box">
            <input type="text" id="itemInput" placeholder="Choisir un item..." autocomplete="off">
            <div id="itemList"></div>
          </div>

          <div id="try"></div>
        </div>

        <section class="guesses-zone">
          <h2 class="guesses-title">Item déjà proposés :</h2>
          <div id="guessedHistory" class="guessed-history"></div>
        </section>

        <p class="debug-daily">{{ printf "%q" .ItemName }}</p>

        <div>
          <p id="dailyTimer" class="tries-count">Item à jour</p>
        </div>

      </section>
    </main>

    <script src="../static/js/common.js"></script>
    <script>
      const pseudo = {{ printf "%q" .Pseudo }};
      const userID = {{ .UserID }};
      const username = pseudo + userID;

      const items = {{ .ItemJSON }};
      const itemStats = {{ .ItemStatsJSON }};
      const itemComponents = {{ .ItemComponentsJSON }};
    

      const dailyItemName = {{ printf "%q" .ItemName }};
      const dailyItemPrice = {{ .ItemPrice }};

       

      window.onload = () => {
        loadGame();
        renderStats(itemStats);
        updateHint();
      }

      items.sort((a, b) => a.name.localeCompare(b.name));
       
      
      let guessed = [];
      let tries = 0;
      let itemSolved = false;

      const input = document.getElementById("itemInput");
      const list = document.getElementById("itemList");
      const guessedHistory = document.getElementById("guessedHistory")
  
      input.addEventListener("input", function() {
        const filtered = FilteredList(items, input.value);
        renderList(filtered, list, guessed, input, submitGuess);
      });

      input.addEventListener("focus", function() {
        console.log("Input activé");
        renderList(FilteredList(items, input.value), list, guessed, input, submitGuess);
      });

      // When the user presses Enter, submits the first matching item if it has not been guessed yet
      input.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
          const filtered = FilteredList(items, input.value);
          const closerElmt = filtered.find(item => !guessed.includes(item.name));

          if (closerElmt) { 
            submitGuess(closerElmt.name);
            input.value = "";
            renderList([], list, guessed, input, submitGuess);
          }
        }
      }); 
      
      // Submit the guess of the player and return if its correct or not 
      async function submitGuess(name) {

        if (!guessed.includes(name)) {
            guessed.push(name);
        }

        const guessedHistory = document.getElementById("guessedHistory")
        
        const response = await fetch("/guess-item", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ item: name })
        })

        let verify = document.getElementById("try")
        const data = await response.json()
        
        const item = items.find(c => c.name === name);

        const img = document.createElement("img");
        img.src = item.imageUrl;
        img.alt = item.name;

        const span = document.createElement("span");
        span.textContent = item.name;
        
        if (data.correct) {
            input.style.display = "none"
            list.style.display = "none" 

            verify.textContent = `Bien joué ! C'était ${item.name}`
             
            
            let alreadyGuess = document.createElement("div")
            alreadyGuess.classList.add("guess-row")
            alreadyGuess.classList.add("true")

            alreadyGuess.classList.add("happy-win");

            alreadyGuess.appendChild(img)
            alreadyGuess.appendChild(span)
            guessedHistory.prepend(alreadyGuess)

            setTimeout(() => {
                alreadyGuess.classList.remove("happy-win");
            }, 700);


            tries++
            itemSolved = true;
            updateHint();

            saveGame();
            startDailyCountdown("item");
        
        }else {
          verify.textContent = `${item.name} n'est pas le bon item`

          let alreadyGuess = document.createElement("div")

          alreadyGuess.classList.add("guess-row")
          alreadyGuess.classList.add("false")

          alreadyGuess.appendChild(img)
          alreadyGuess.appendChild(span)

          guessedHistory.prepend(alreadyGuess)
          tries++
          updateHint();
          saveGame();
        } 
      }


      
      function updateHint() {
        let priceHint = "Prix de l'item : ";
        let firstHintCount = 3 - tries;
        let secondHintCount = 6 - tries;
        let firstHint = false;
        let secondHint = false; 

        if (!itemSolved && IsHintsVisible) {
          if (tries < 3) {
            document.getElementById("first-hint").textContent = `Premier indice dans ${firstHintCount} essais`;
          } else {
            firstHint = true; 
          }

          if (tries < 6) {
            document.getElementById("second-hint").textContent = `Deuxième indice dans ${secondHintCount} essais`;
          } else {
            secondHint = true;
          }
        } else {
          firstHint = true; 
          secondHint = true; 
        }
         

        if (firstHint && IsHintsVisible) {
          priceHint = `Prix de l'item : ${dailyItemPrice}`
          document.getElementById("first-hint").textContent = "Premier indice débloqué";
        }else {
          document.getElementById("price-hint").textContent = "";
        } 

        if (secondHint && IsHintsVisible) {
          document.getElementById("second-hint").textContent = "Deuxième indice débloqué";
          renderComponentsHint(itemComponents);
        }else {
          document.getElementById("components-hint").innerHTML = "";
        }

        document.getElementById("price-hint").textContent = priceHint;
        document.getElementById("triesDisplay").textContent = `Essais : ${tries}`;
      }



      function saveGame() {
          const data = {
              tries: tries,
              guessed: guessed,
              solvedItem: itemSolved,
              history: document.getElementById("guessedHistory").innerHTML,
              dayKey: getTodayKey()
          };

          localStorage.setItem(`itemDaily_${username}`, JSON.stringify(data));
      }


      function loadGame() {
        const raw = localStorage.getItem(`itemDaily_${username}`);
        if (!raw) return;

        const data = JSON.parse(raw);

        if (data.dayKey !== getTodayKey()) {
            localStorage.removeItem(`itemDaily_${username}`);
            return;
        }

        tries = data.tries;
        guessed = data.guessed;
        itemSolved = data.solvedItem;
        

        document.getElementById("guessedHistory").innerHTML = data.history;

        updateHint();

        if (itemSolved) {
            input.style.display = "none";
            list.style.display = "none"; 

            document.getElementById("try").textContent =
            "Bien joué ! Tu as déjà trouvé l'item du jour.";
        }
      }
    </script>

</div>
</body>
</html>