<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOL Tracker</title>
  <link rel="stylesheet" href="../static/css/ListPage.css" />
</head>

<body>
  <div class="background-zone">

    <aside class="sidebar">
      <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />

      <div class="horizontal-line"></div>

      <nav>
        <a href="HomePage.html">
          <img src="../static/images/HomeIcon.jpg" alt="" />
          <span>Accueil</span>
        </a>

        <a href="ProfilPage.html">
          <img src="../static/images/ProfileIcon.jpg" alt="" />
          <span>Profil</span>
        </a>

        <a href="ChampPage.html">
          <img src="../static/images/ChampLogo.jpg" alt="" />
          <span>Champion</span>
        </a>

        <a href="ItemsPage.html">
          <img src="../static/images/ItemLogo.jpg" alt="" />
          <span>Items</span>
        </a>

        <a href="SearchPage.html">
          <img src="../static/images/LoupeIcon.jpg" alt="" />
          <span>Recherche</span>
        </a>

        <a href="NewsPage.html">
          <img src="../static/images/NewsIcon.jpg" alt="" />
          <span>À propos</span>
        </a>

        <a href="ListPage.html">
          <img src="../static/images/ListIcon.jpg" alt="" />
          <span>Tier list</span>
        </a>
      </nav>

      <div class="vertical-line"></div>
    </aside>

    <main class="content">
      <h1>LOL TRACKER</h1>
    </main>

  </div>
</body>
</html>
