<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>UHC LoLdle</title>
  <link rel="stylesheet" href="../static/css/ProfilPage.css" />
  <link rel="stylesheet" href="../static/css/global.css" />
</head>

<body>
  <div class="background-zone">
  
    <aside class="sidebar">
      <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />

      <div class="horizontal-line"></div>

      <nav>
        <a href="logged">
          <img src="../static/images/HomeIcon.jpg" alt="" />
          <span>Accueil</span>
        </a>

        <a href="Profil">
          <img src="../static/images/ProfileIcon.jpg" alt="" />
          <span>Profil</span>
        </a>

        <a href="Champs">
          <img src="../static/images/ChampLogo.jpg" alt="" />
          <span>Champion</span>
        </a>

        <a href="Items">
          <img src="../static/images/ItemLogo.jpg" alt="" />
          <span>Items</span>
        </a>

        <a href="Spells">
          <img src="../static/images/SpellIcon.png" alt="" />
          <span>Spell</span>
        </a>
      </nav>

      <div class="vertical-line"></div>
    </aside>

    <main class="content">
      <div class="page-brand">
        <span class="brand-small">UHC</span>
        <span class="brand-big">LoLdle</span>
      </div>

      <div class="profile-card">

          <div class="profile-top">
              <div class="user-pseudo">
                  <p>{{.Pseudo}} #{{ .UserID}}</p>
              </div>

              <div class="streak-badge">
                  <img src="../static/images/flame.png" class="flame">
                  <span class="streak-count">{{.Streak}}</span>
              </div>
          </div>

          <div class="more-info">
              <p>Inscrit le : {{.InscriptionDate}}</p>
              <p>Plus grande série : {{.BestStreak}}</p>
              <p>Total jours joué : {{.DayPlayed}}</p>
              <p>Série actuelle : {{.Streak}}</p>
          </div>

          <div class="logout">
            <form method="POST" action="/logout">
              <button type="submit">Déconnexion</button>
            </form>
          </div>

      </div>


       
    </main>

  </div>
</body>
</html>
