<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UHC LoLdle</title>
    <link rel="stylesheet" href="../static/css/SpellPage.css" />
</head>
<body>
    <div class="background-zone">
  
        <aside class="sidebar">
            <img class="sidebar-logo" src="../static/images/LOLicon.jpg" alt="LoL" />

            <div class="horizontal-line"></div>

            <nav>
                <a href="/logged">
                    <img src="../static/images/HomeIcon.jpg" alt="" />
                    <span>Accueil</span>
                </a>

                <a href="/Profil">
                    <img src="../static/images/ProfileIcon.jpg" alt="" />
                    <span>Profil</span>
                </a>

                <a href="/Champs">
                    <img src="../static/images/ChampLogo.jpg" alt="" />
                    <span>Champion</span>
                </a>

                <a href="/Items">
                    <img src="../static/images/ItemLogo.jpg" alt="" />
                    <span>Items</span>
                </a>

                <a href="/Spells">
                    <img src="../static/images/SpellIcon.png" alt="" />
                    <span>Spell</span>
                </a>
            </nav>

            <div class="vertical-line"></div>
        </aside>

        <main class="content">
      <div class="page-brand">
        <span class="brand-small">UHC</span>
        <span class="brand-big">LoLdle</span>
      </div>

      <section class="game-wrapper">
        <div class="intro-box">
          <p class="page-title">Devinez à quel personnage de League of legends appartient ce sort ! </p><br><br>
          <p id="lore" class="intro-text">
            {{ .Description}}
          </p>
          <div id="stats" class="intro-text"></div> 
        </div>
    
          

        <div class="hint-zone">
          <div id="first-hint-box" class="hint-box">
              <p id="first-hint" class="hint-text"></p>
              <p id="name-hint" ></p>
          </div>

          <div id="second-hint-box" class="hint-box">
              <p id="second-hint" class="hint-text"></p>
              <p id="img-hint" class="hidden"></p>
                
          </div>
           
        </div>

        <div class="search-zone">
          <p id="triesDisplay" class="tries-count"></p>
          <div class="search-box">
            <input type="text" id="champInput" placeholder="Choisir un champion..." autocomplete="off">
            <div id="champList"></div>
          </div>

          <div id="try"></div>
        </div>

        <section class="guesses-zone">
          <h2 class="guesses-title">Champion déjà proposés :</h2>
          <div id="guessedHistory" class="guessed-history"></div>
        </section>

        <p class="debug-daily"></p>

        <div id="2nd-challenge"> 
          <div id="Buttons">
          </div><br>
          <p id="checkSlot" class="guesses-title"></p>
        </div>
        
        <div>
          <p id="dailyTimer" class="tries-count">Champion à jour</p>
        </div>
         

      </section>
    </main>
    </div>
    <script src="../static/js/common.js"></script>
    <script>
      const pseudo = {{ printf "%q" .Pseudo }};
      const userID = {{ .UserID }};
      const username = pseudo + userID;

      const champions = {{ .ChampionsJSON }};
      const spellSlot = {{ .SpellSlot}};
      const spellImg = {{ .SpellImg}};
      const spellName = {{ .SpellName}};

      champions.sort((a, b) => a.name.localeCompare(b.name));

      let guessed = []

      const input = document.getElementById("champInput");
      const list = document.getElementById("champList");
      const guessedHistory = document.getElementById("guessedHistory")

      let tries = 0

      input.addEventListener("input", function() {
        const filtered = FilteredList(champions, input.value);
        renderList(filtered, list, guessed, input, submitGuess);
      });

      input.addEventListener("focus", function() {
        console.log("Input activé");
        renderList(FilteredList(champions, input.value), list, guessed, input, submitGuess);
      });

      input.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
          const filtered = FilteredList(champions, input.value);
          const closerElmt = filtered.find(champ => !guessed.includes(champ.name));

          if (closerElmt) {
            guessed.push(closerElmt.name);
            submitGuess(closerElmt.name);
            input.value = "";
            renderList([], list, guessed, input, submitGuess);
          }
        }
      }); 

      window.onload = () => {
          loadGame();
          updateHint();
          const img = document.createElement("img");
            img.src = spellImg;
            img.alt = "";
            img.classList.add("img-hint");
          document.getElementById("img-hint").appendChild(img)    
           
      };

      async function submitGuess(name) {
        const guessedHistory = document.getElementById("guessedHistory")
        
        const response = await fetch("/guessSpell", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ champion: name })
        })

        let verify = document.getElementById("try")
        
        const raw = await response.text();
        console.log("status =", response.status);
        console.log("raw response =", raw);

        if (!response.ok) {
          throw new Error("Server error");
        }

        const data = JSON.parse(raw);
        
        const champ = champions.find(c => c.name === name);

        const img = document.createElement("img");
        img.src = champ.imageUrl;
        img.alt = champ.name;

        const span = document.createElement("span");
        span.textContent = champ.name;
        
        if (data.correct) {
            input.style.display = "none"
            list.style.display = "none" 

            verify.textContent = `Bien joué ! C'était ${champ.name}`
            
             
            
            let alreadyGuess = document.createElement("div")
            alreadyGuess.classList.add("guess-row")
            alreadyGuess.classList.add("true")
            alreadyGuess.classList.add("happy-win");

            alreadyGuess.appendChild(img)
            alreadyGuess.appendChild(span)

            guessedHistory.prepend(alreadyGuess)

            setTimeout(() => {
                alreadyGuess.classList.remove("happy-win");
            }, 700);

            tries++
            updateHint()
            createButtonRow();
            championSolved = true;
            saveGame();
        
        }else {
          verify.textContent = `${champ.name} n'est pas le bon champion`

          let alreadyGuess = document.createElement("div")

          alreadyGuess.classList.add("guess-row")
          alreadyGuess.classList.add("false")

          alreadyGuess.appendChild(img)
          alreadyGuess.appendChild(span)

          guessedHistory.prepend(alreadyGuess)
          tries++
          updateHint()
          saveGame();
        }
      }

      function updateHint() {
        let firstHintCount = 3 - tries;
        let secondHintCount = 6 - tries;

        if (tries < 3) {
          document.getElementById("first-hint").textContent = `Premier indice dans ${firstHintCount} essais : nom du sort`;
        } else {
          document.getElementById("first-hint").textContent = "Premier indice débloqué : nom du sort";
          document.getElementById("name-hint").textContent = spellName;

        }

        if (tries < 6) {
          document.getElementById("second-hint").textContent = `Deuxième indice dans ${secondHintCount} essais : image du sort`;
        } else {
          document.getElementById("second-hint").textContent = "Deuxième indice débloqué : image du sort";
          document.getElementById("img-hint").classList.remove("hidden");
           
        }

        document.getElementById("triesDisplay").textContent = `Essais : ${tries}`;
      }


      function compareSlot(slot, btn) {
        if (slot == spellSlot) {
          document.getElementById("checkSlot").textContent  = `T'es un crack enfaite, c'était bien le ${spellSlot} spell !`
          btn.classList.add("correct");
          btn.classList.add("happy-win");

          setTimeout(() => {
              btn.classList.remove("happy-win");
          }, 600);
 
          saveGame();

          startDailyCountdown("champion");
        }else {
          document.getElementById("checkSlot").textContent  = `T'es claqué au sol... C'était le ${spellSlot} spell`
          btn.classList.add("incorrect");
        }
        
      }


      function saveGame() {
          const data = {
              tries: tries,
              guessed: guessed,
              solvedChampion: championSolved, 
              history: document.getElementById("guessedHistory").innerHTML,
              dayKey: getTodayKey()
          };

          localStorage.setItem(`spellDaily_${username}`, JSON.stringify(data));
      }


      function loadGame() {
        const raw = localStorage.getItem(`spellDaily_${username}`);
        if (!raw) return;

        const data = JSON.parse(raw);

        if (data.dayKey !== getTodayKey()) {
            localStorage.removeItem(`spellDaily_${username}`);
            return;
        }

        tries = data.tries;
        guessed = data.guessed;
        championSolved = data.solvedChampion;
        slotSolved = data.solvedSlot;

        document.getElementById("guessedHistory").innerHTML = data.history;

        updateHint();

        if (championSolved) {
            input.style.display = "none";
            list.style.display = "none";
            createButtonRow();

            document.getElementById("try").textContent =
            "Bien joué ! Vous avez déjà trouvé à qui appartenait le spell du jour.";
        }
      }


    </script>
</body>
</html>